# Godot editor files
.godot/

# Import files (generated, sauf si tu as des assets)
*.import

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Export presets
export_presets.cfg

# Exclude graphic working files
*.pxd